<h3 class="card-title"><%= @campaign.name %></h3>
<%= form_tag(campaign_entries_path(@campaign.id)) do %>
	<div class="row">
		<div class="form-group col-lg">
			<label for="team-members">Team Members:</label>
			<input type="text" class="form-control" name="team" id="team-members" placeholder="Team Members" />
		</div>
		<div class="form-group col-lg">
			<label for="date">Date:</label>
			<input type="date" class="form-control" name="date" id="date" value="<%= Date.today.strftime('%Y-%m-%d') %>" />
		</div>
	</div>
	<hr />
	<div class="form-group">
		<label for="street">Street:</label>
		<input type="text" class="form-control" name="street" id="street" placeholder="Street" />
	</div>
	<div class="row">
		<div class="form-group col">
			<label for="street-number">Street Number:</label>
			<input type="text" class="form-control" name="street_number" id="street-number" placeholder="Street Number" />
		</div>
		<div class="form-group col">
			<label for="unit">Apartment/Unit:</label>
			<input type="text" class="form-control" name="unit_number" id="unit" placeholder="Apartment/Unit" />
		</div>
	</div>
	<div class="form-group">
		<label for="outcome">Outcome:</label>
		<select class="form-control" name="outcome">
			<option value="">Please Select</option>
			<option value="not home">Not Home</option>
			<option value="not visited">Not Visited</option>
			<option value="no answer">No Answer</option>
			<option value="not interested">Not Interested</option>
			<option value="interested">Interested</option>
		</select>
	</div>
	<div class="form-group">
		<label for="people-met">People Met:</label>
		<input type="text" class="form-control" name="people" id="people-met" placeholder="Names of People Met" />
	</div>
	<div class="form-group">
		<label for="contact">Contact Information:</label>
		<input type="text" class="form-control" name="contact" id="contact" placeholder="Phone/Email" />
	</div>
	<div class="form-group row">
		<div class="col col-auto">Age Groups:</div>
		<div class="col">
			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" id="children" name="age_groups[]" value="1" />
					Children
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" id="junior-youth" name="age_groups[]" value="2" />
					Junior Youth
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" id="youth" name="age_groups[]" value="3" />
					Youth
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		Conversation Themes Covered:
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="1" />
				Walking a Path of Service
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="2" />
				Period of Youth
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="3" />
				Twofold Moral Purpose
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="4" />
				Constructive and Destructive Forces
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="5" />
				Material and Spiritual Progress
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="6" />
				Individual and Collective Transformation
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="7" />
				A United Community
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="8" />
				Community Building
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="9" />
				Service to the Community
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="10" />
				Early Adolescence
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="11" />
				Educating Younger Generations
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="12" />
				Institute Process
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="children" name="themes[]" value="13" />
				The Baha'i Faith
			</label>
		</div>
	</div>
	<div class="form-group">
		<label for="notes">Notes:</label>
		<textarea name="notes" id="notes" class="form-control" placeholder="Notes" rows="4"></textarea>
	</div>
	<div class="form-group">
		<button class="btn btn-primary right" type="submit">Submit</button>
	</div>
<% end %>
